<div class="control-group">
  <div class="form-inline editableform">
    {{!--Create a text input, if the type is text--}}
    {{#if isText}}
      <div class="textContainer">
        {{input class=classes type='text' value=value}}
        {{!--If there is a validator error, show the message--}}
        {{#if errorMessage}}
          <span class="help-block form-error has-input-group-error">{{errorMessage}}</span>
        {{/if}}
        <div class="borderBottom {{if isEditing 'shouldNotDisplay'}}"></div>
      </div>
    {{/if}}
    {{!--Create a select input, if the type is select--}}
    {{#if isSelect}}
      <div class="selectContainer">
        {{#power-select
        classBinding='classes'
        onchange=(action 'changeAction')
        options=content
        selected=value
        as |option|}}
          <div>{{option}}</div>
        {{/power-select}}
        {{!--If there is a validator error, show the message--}}
        {{#if errorMessage}}
          <span class="help-block form-error has-input-group-error">{{errorMessage}}</span>
        {{/if}}
        <div class="borderBottom {{if isEditing 'shouldNotDisplay'}}"></div>
      </div>
    {{/if}}
    {{!--If editing, show save and cancel buttons--}}
    {{#if isEditing}}
      <div class="editable-buttons">
        <button class="btn btn-primary btn-sm editable-submit" {{action 'saveAction'}}><i class="glyphicon
      glyphicon-ok"></i>
        </button>
        <button class="btn btn-default btn-sm editable-cancel" {{action 'cancelAction'}}><i class="glyphicon
      glyphicon-remove"></i>
        </button>
      </div>
    {{/if}}
  </div>
</div>
